@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-image: url('../../public/wallpaper.png');
}

.bg {
  background-image: url('../../public/wallpaper.png');
  background-size: cover;
}

@font-face {
  font-family: "sf";
  src: url('./SF-Pro-Display-Regular.otf');
}

/* .bar {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%);
  transform: rotate(50deg);
} */